


<form action="/dados" method="post" >
    <label for="nome">Qual seu Nome</label>   
    <input type="text" name="nome">
    <label for="sobrenome">Qual seu Sobrenome</label>   
    <input type="text" name="sobrenome">
    <label for="cpf">Qual seu CPF</label>   
    <input type="text" name="cpf">
    <label for="telefone">Qual seu telefone</label>   
    <input type="text" name="telefone">
    <label for="endereco">Qual seu endereço</label>   
    <input type="text" name="endereco">
    <label for="email">Qual seu email</label>   
    <input type="text" name="email">
    <label for="senha">Qual sua Senha</label>   
    <input type="text" name="senha">

    <button type="submit">Cria conta</button>
</form>

