    <br>
    <H1>Página de Cadastro</H1>


<form action="/cadastro" method="post" >
    <label for="nome">Qual seu Nome?</label><br>
    <input type="text" name="nome"><br>
    <label for="email">Qual seu email?</label><br>   
    <input type="text" name="email"><br>
    <label for="senha">Qual sua Senha?</label><br>   
    <input type="text" name="senha"><br>
    <label for="cpf">Qual seu CPF?</label><br>   
    <input type="text" name="cpf"><br>
    <label for="telefone">Qual seu telefone?</label><br>   
    <input type="text" name="telefone"><br>
    <label for="tipo">Qual seu tipo de conta?</label><br>   
    <input type="text" name="tipo"><br><br>

    <button type="submit">Criar conta</button>
</form>

