    <link rel="stylesheet" href="/css/contato.css">



<form action="/contato" method="post">
<div class="fundo">
    <h1>Contato</h1>
    <br>
    <h2>
        Número :(51)9762-8879
    </h2>
    <label for="email">Qual o seu email?</label>
    <input type="text" name="email" placeholder="Digite aqui">
    <br>
    <button type="submit">Recuperar senha</button>
</div>
</form>
