    <link rel="stylesheet" href="/css/gerenciador.css">

<br>
<nav>
   <a href="/cadastra_shoes">Cadastrar Sneakers</a>&emsp;
    <a href="/lista_shoes">Listar Sneakers</a>&emsp;
    <a href="/atualiza_shoes">Editar Sneakers</a>&emsp;
    <a href="/apaga_shoes">Excluir Sneakers</a>&emsp;
    <a href="/grafico_shoes">Gráfico Sneakers</a>&emsp;
</nav>
<br><br>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}} 