<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/grafico_linha.js" defer></script>
<link rel="stylesheet" href="/css/grafico.css">



<br>
<nav>
    <a href="/cadastra_shoes">Cadastrar Sneakers</a>&emsp;
    <a href="/lista_shoes">Listar Sneakers</a>&emsp;
    <a href="/atualiza_shoes">Editar Sneakers</a>&emsp;
    <a href="/apaga_shoes">Excluir Sneakers</a>&emsp;
    <a href="/grafico_shoes">Gráfico Sneakers</a>&emsp;
    
</nav>
<br><br>

 
<button id="grafic_barra">Gráfico</button>
<br><br>
<div class="grafic_bar" style="width: 600px; height: 400px;">
    <canvas id="grafico_barras"></canvas>
</div>