


  <main class="conteudo">
        <section>
            <div class="titulo">
            <h1>Escolha sua Estrela</h1>
            <h2>O que são as estrelas do Nba?</h2>
            <p>Uma estrela da NBA é um jogador de basquete profissional excepcionalmente talentoso e habilidoso que se destaca no mais alto nível de competição de basquete nos Estados Unidos. Eles são conhecidos por suas habilidades ofensivas, defensivas e táticas, e muitas vezes são líderes de suas equipes em termos de pontuação, assistências e rebotes. </p>
        </div>
        </section>
        
        <section>
            <div class="todosj">
                <div>
                        <a href="/pg">
                            <img src="./img/Paul george.jpg" alt="Paul george">
                        </a>
                        <h3>Paul George</h3>
                </div>
                <div>
                        <a href="/kd">
                            <img src="./img/Kevin Durant.jpg" alt="Kevin Durant">
                        </a>
                        <h3>Kevin Durant</h3>
                </div>
                <div>
                        <a href="/lj">
                            <img src="./img/Lebron james.jpg" alt="Lebron james">
                        </a>
                        <h3>Lebron James</h3>
                </div>
                <div>
                        <a href="/kw">
                            <img src="./img/Kawhi Leonard.jpg" alt="Lebron James">
                        </a>
                        <h3>Kawhi Leonard</h3>
                </div>
            </div>
        </section>

    </main>