<script src="/js/itens_carrinho.js" defer></script>

<link rel="stylesheet" href="/css/shoes_p.css">



<h1>Kevin Durant</h1>
<h2>
Kevin Durant é um jogador de basquete profissional dos Estados Unidos, nascido em 1988. Ele é reconhecido como um dos maiores cestinhas da história da NBA, devido à sua habilidade excepcional de marcar pontos. Durant jogou basquete universitário pela Universidade do Texas antes de ser selecionado pelo Seattle SuperSonics como a segunda escolha geral do draft da NBA em 2007.

Durant começou sua carreira na NBA no Seattle SuperSonics, que mais tarde se tornou o Oklahoma City Thunder. Lá, ele se destacou como uma estrela em ascensão, vencendo quatro títulos de pontuação da liga e sendo nomeado MVP da temporada em 2014. Durant então se juntou ao Golden State Warriors em 2016, contribuindo significativamente para dois campeonatos da NBA consecutivos em 2017 e 2018.

Além de suas habilidades de pontuação incomparáveis, Durant é conhecido por sua altura impressionante e sua capacidade de marcar pontos de diversas maneiras, incluindo arremessos de longa distância. Sua versatilidade como ala-pivô ou ala devido à sua combinação única de tamanho e habilidade o estabeleceu como um dos jogadores mais dominantes e respeitados na história do basquete. Em 2019, Durant se transferiu para o Brooklyn Nets, continuando a deixar sua marca como uma força formidável no esporte.
</h2>




<ul class="shoes">
    <li>
        <p class="sap-mas">Kevin Durant 1</p>
        <img src="../img/KD4.webp" alt="Kevin Durant 1" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">899.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="KD1" data-preco="899.99" data-qtde="1" cod-prod="4">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Kevin Durant 2</p>
        <img src="../img/KD5.webp" alt="Kevin Durant 2" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">1029.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="KD2" data-preco="1029.99" data-qtde="1" cod-prod="5">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Kevin Durant 3</p>
        <img src="../img/KD14.webp" alt="Kevin Durant 3" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">823.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="KD3" data-preco="823.99" data-qtde="1" cod-prod="6">Comprar</button>
    </li>
</ul>

