<script src="/js/itens_carrinho.js" defer></script>

<link rel="stylesheet" href="/css/shoes_p.css">



<h1>Kawhi Leonard</h1>
<h2>
Kawhi Leonard é um jogador de basquete profissional dos Estados Unidos, nascido em 1991. Ele é conhecido por sua habilidade excepcional no esporte e por seu estilo discreto dentro e fora das quadras. Leonard jogou basquete universitário pela San Diego State University antes de ser selecionado pelo Indiana Pacers na primeira rodada do draft de 2011 da NBA e depois sendo trocado para o San Antonio Spurs.
Sua carreira decolou no San Antonio Spurs, onde ele se tornou uma peça fundamental na equipe, ganhando destaque por sua defesa sólida e habilidades ofensivas. Durante sua passagem pelos Spurs, ele foi duas vezes campeão da NBA e recebeu o prêmio de MVP das finais em 2014.
Após um tempo no Toronto Raptors, onde foi fundamental para levar a equipe ao seu primeiro título da NBA em 2019, Kawhi se transferiu para o Los Angeles Clippers em 2019. Ele é conhecido por sua ética de trabalho, sua mentalidade centrada no jogo e seu estilo de jogo versátil, sendo considerado um dos melhores jogadores da liga. Sua jornada na NBA o estabeleceu como uma lenda em ascensão no mundo do basquete.
</h2>




<ul class="shoes">
    <li>
        <p class="sap-mas">Kawhi Leonard 1</p>
        <img src="../img/KW1.webp" alt="Kawhi leonard 1" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">699.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="KW1" data-preco="699.99" data-qtde="1" cod-prod="1">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Kawhi Leonard 2</p>
        <img src="../img/KW2.webp" alt="Kawhi leonard 2" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">786.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="KW2" data-preco="786.99" data-qtde="1" cod-prod="2">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Kawhi Leonard 3</p>
        <img src="../img/KW3.webp" alt="Kawhi leonard 3" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">880.00</span></p>
        <button class="adicionar-ao-carrinho" data-nome="KW3" data-preco="880.00" data-qtde="1" cod-prod="3">Comprar</button>
    </li>
</ul>

