<script src="/js/itens_carrinho.js" defer></script>

<link rel="stylesheet" href="/css/shoes_p.css">

<h1>Lebron James</h1>
<h2>
LeBron James é um dos maiores jogadores de basquete de todos os tempos, nascido em 1984 nos Estados Unidos. Ele é conhecido por sua combinação excepcional de habilidades atléticas, visão de jogo e versatilidade dentro das quadras.

Começou sua carreira na NBA em 2003, quando foi escolhido pelo Cleveland Cavaliers como a primeira escolha geral do draft. Desde então, LeBron tem sido uma força dominante na liga, acumulando uma série impressionante de conquistas individuais e coletivas.

Ao longo de sua carreira, ele conquistou quatro títulos da NBA, tendo liderado o Miami Heat e o Cleveland Cavaliers a vitórias históricas, além de conquistar dois campeonatos com o Los Angeles Lakers. James é conhecido por suas habilidades de liderança, sua capacidade de fazer jogadas decisivas e sua visão de jogo única, que o permite ser um dos melhores passadores da liga, apesar de ser um ala de grande estatura.

Fora das quadras, LeBron é um defensor ativo de causas sociais e filantrópicas, usando sua plataforma para promover mudanças positivas na comunidade. Sua influência vai além do basquete, sendo uma figura icônica tanto no esporte quanto na sociedade. Ele é um verdadeiro ícone do basquete e um dos atletas mais respeitados e admirados em todo o mundo.
</h2>




<ul class="shoes">
    <li>
        <p class="sap-mas">Lebron james 1</p>
        <img src="../img/LJ10.jpg" alt="Lebron james 1" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">1100.00</span></p>
        <button class="adicionar-ao-carrinho" data-nome="LJ1" data-preco="1100.00" data-qtde="1" cod-prod="7">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Lebron james 2</p>
        <img src="../img/LJ13.jpg" alt="Lebron james 2" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">1200.00</span></p>
        <button class="adicionar-ao-carrinho" data-nome="LJ2" data-preco="1200.00" data-qtde="1" cod-prod="8">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Lebron james 3</p>
        <img src="../img/LJ16.jpg" alt="Lebron james 3" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">950.00</span></p>
        <button class="adicionar-ao-carrinho" data-nome="LJ3" data-preco="950.00" data-qtde="1" cod-prod="9">Comprar</button>
    </li>
</ul>
