      <link rel="stylesheet" href="/css/login.css">
 
    <br>
    <H1>Página de login</H1>


<form action="/login" method="post" >
    <label for="email">Qual seu email?</label><br>   
    <input type="text" name="email"><br>
    <label for="senha">Qual sua Senha?</label><br>   
    <input type="password" name="senha"><br>

    <button type="submit">Entrar</button>
</form>

{{#if msg}}
<p>{{msg}}</p>
{{/if}}