<script src="/js/itens_carrinho.js" defer></script>
<script src="/js/carrinho.js" defer></script>

<link rel="stylesheet" href="/css/shoes_p.css">

<h1>Paul George</h1>
<h2>

Paul George é um jogador de basquete profissional dos Estados Unidos, nascido em 1990. Ele é reconhecido por suas habilidades versáteis tanto na defesa quanto no ataque. George começou sua carreira na NBA após ser selecionado pelo Indiana Pacers na primeira rodada do draft de 2010.

Durante sua passagem pelos Pacers, ele se destacou como uma estrela ascendente na liga, demonstrando excelentes habilidades defensivas e capacidade de pontuação. George foi nomeado várias vezes para o All-Star Game da NBA e foi considerado um dos melhores jogadores em sua posição.

Em 2017, George foi negociado com o Oklahoma City Thunder, onde continuou a mostrar seu talento e contribuir significativamente para a equipe. Sua capacidade de marcar pontos, aliada à sua habilidade defensiva, o tornou um jogador admirado na liga.

Desde então, George tem sido uma peça fundamental no Los Angeles Clippers, mostrando sua versatilidade e liderança na equipe. Sua habilidade de arremessar, habilidades defensivas e mentalidade competitiva o solidificaram como um dos jogadores mais talentosos e respeitados na NBA.
</h2>




<ul class="shoes">
    <li>
        <p class="sap-mas">Paul George 1</p>
        <img src="../img/PG1.webp" alt="Paul George 1" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">699.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="pg1" data-preco="699.99" data-qtde="1" cod-prod="10">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Paul George 2</p>
        <img src="../img/PG2.webp" alt="Paul George 2" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">750.99</span></p>
        <button class="adicionar-ao-carrinho" data-nome="pg2" data-preco="750.99" data-qtde="1" cod-prod="11">Comprar</button>
    </li>
    <li>
        <p class="sap-mas">Paul George 3</p>
        <img src="../img/PG3.webp" alt="Paul George 3" class="img_pq">
        <p class="preco">R$ <span class="valor-preco">600.00</span></p>
        <button class="adicionar-ao-carrinho" data-nome="pg3" data-preco="600.00" data-qtde="1" cod-prod="12">Comprar</button>
    </li>
</ul>
