    <link rel="stylesheet" href="/css/privacidade.css">


<div class="text">
        <h1>Política de Privacidade do E-commerce de Sneakers de Astros da NBA</h1>
        <br>
        <h2>A privacidade dos nossos usuários é de extrema importância para nós. Esta Política de Privacidade descreve como coletamos, usamos, protegemos e compartilhamos informações quando você utiliza nosso e-commerce de sneakers de astros da NBA.</h2>
        <br>
        <h1>Informações Coletadas:</h1>
        <br>
        <h2> Informações Pessoais: Podemos coletar informações pessoais, como nome, endereço, e-mail, número de telefone, informações de pagamento, dados de entrega e preferências de compra.

            b. Informações de Navegação: Coletamos automaticamente informações sobre o dispositivo que você utiliza para acessar nosso site, como endereço IP, tipo de navegador, páginas visitadas e tempos de acesso.

            c. Cookies e Tecnologias Similares: Podemos utilizar cookies e tecnologias similares para melhorar a experiência do usuário, analisar tendências, administrar o site, rastrear os movimentos dos usuários ao redor do site e coletar informações demográficas sobre nossa base de usuários como um todo.

            2. Uso das Informações:

            a. Fornecimento de Serviços: Utilizamos as informações coletadas para processar pedidos, entregar produtos, fornecer suporte ao cliente e personalizar a experiência de compra.

            b. Comunicação: Podemos utilizar seu e-mail para enviar atualizações sobre pedidos, informações sobre produtos, ofertas promocionais e newsletters. Você pode optar por não receber essas comunicações a qualquer momento.

            c. Melhoria do Serviço: As informações coletadas também nos ajudam a entender como nosso site é utilizado, permitindo melhorias na navegabilidade, no layout e na oferta de produtos.</h2>

<h1>Uso das Informações:</h1>
<br>
<h2>Fornecimento de Serviços: Utilizamos as informações coletadas para processar pedidos, entregar produtos, fornecer suporte ao cliente e personalizar a experiência de compra.

b. Comunicação: Podemos utilizar seu e-mail para enviar atualizações sobre pedidos, informações sobre produtos, ofertas promocionais e newsletters. Você pode optar por não receber essas comunicações a qualquer momento.

c. Melhoria do Serviço: As informações coletadas também nos ajudam a entender como nosso site é utilizado, permitindo melhorias na navegabilidade, no layout e na oferta de produtos.</h2>

<h1>Compartilhamento de Informações:</h1>
<br>
<h2>a. Parceiros de Negócios: Podemos compartilhar informações com terceiros, como processadores de pagamento, serviços de entrega e fornecedores, para cumprir com os pedidos realizados.

b. Requisitos Legais: Reservamo-nos o direito de acessar, ler, preservar e divulgar informações, se acreditarmos de boa-fé que tal ação é necessária para cumprir com requisitos legais, proteger nossos direitos ou responder a uma situação de emergência.

4. Segurança das Informações:

Empregamos medidas de segurança físicas, eletrônicas e administrativas para proteger as informações coletadas contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.</h2>
<br>
<h1> Seus Direitos:</h1>
<br>
<h2>Você tem o direito de acessar, corrigir, atualizar ou solicitar a exclusão de suas informações pessoais a qualquer momento. Para exercer esses direitos, entre em contato conosco conforme descrito abaixo.</h2>
<br>
<h1>Menores de Idade:</h1>
<br>
<h2>Nosso site não se destina a menores de 18 anos e não coletamos intencionalmente informações de crianças. Se você acredita que coletamos informações de um menor, entre em contato conosco para que possamos remover esses dados.</h2>
<br>
<h1>Alterações na Política de Privacidade:</h1>
<br>
<h2>Esta Política de Privacidade pode ser atualizada periodicamente para refletir mudanças nas práticas de coleta e utilização de informações. Recomendamos revisar periodicamente esta página para estar ciente de quaisquer alterações.</h2>
<br>
<h1>Contato:</h1>
<br>
<h2>
Política de Privacidade do E-commerce de Sneakers de Astros da NBA

A privacidade dos nossos usuários é de extrema importância para nós. Esta Política de Privacidade descreve como coletamos, usamos, protegemos e compartilhamos informações quando você utiliza nosso e-commerce de sneakers de astros da NBA.

1. Informações Coletadas:

a. Informações Pessoais: Podemos coletar informações pessoais, como nome, endereço, e-mail, número de telefone, informações de pagamento, dados de entrega e preferências de compra.

b. Informações de Navegação: Coletamos automaticamente informações sobre o dispositivo que você utiliza para acessar nosso site, como endereço IP, tipo de navegador, páginas visitadas e tempos de acesso.

c. Cookies e Tecnologias Similares: Podemos utilizar cookies e tecnologias similares para melhorar a experiência do usuário, analisar tendências, administrar o site, rastrear os movimentos dos usuários ao redor do site e coletar informações demográficas sobre nossa base de usuários como um todo.

2. Uso das Informações:

a. Fornecimento de Serviços: Utilizamos as informações coletadas para processar pedidos, entregar produtos, fornecer suporte ao cliente e personalizar a experiência de compra.

b. Comunicação: Podemos utilizar seu e-mail para enviar atualizações sobre pedidos, informações sobre produtos, ofertas promocionais e newsletters. Você pode optar por não receber essas comunicações a qualquer momento.

c. Melhoria do Serviço: As informações coletadas também nos ajudam a entender como nosso site é utilizado, permitindo melhorias na navegabilidade, no layout e na oferta de produtos.

3. Compartilhamento de Informações:

a. Parceiros de Negócios: Podemos compartilhar informações com terceiros, como processadores de pagamento, serviços de entrega e fornecedores, para cumprir com os pedidos realizados.

b. Requisitos Legais: Reservamo-nos o direito de acessar, ler, preservar e divulgar informações, se acreditarmos de boa-fé que tal ação é necessária para cumprir com requisitos legais, proteger nossos direitos ou responder a uma situação de emergência.

4. Segurança das Informações:

Empregamos medidas de segurança físicas, eletrônicas e administrativas para proteger as informações coletadas contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.

5. Seus Direitos:

Você tem o direito de acessar, corrigir, atualizar ou solicitar a exclusão de suas informações pessoais a qualquer momento. Para exercer esses direitos, entre em contato conosco conforme descrito abaixo.

6. Menores de Idade:

Nosso site não se destina a menores de 18 anos e não coletamos intencionalmente informações de crianças. Se você acredita que coletamos informações de um menor, entre em contato conosco para que possamos remover esses dados.

7. Alterações na Política de Privacidade:

Esta Política de Privacidade pode ser atualizada periodicamente para refletir mudanças nas práticas de coleta e utilização de informações. Recomendamos revisar periodicamente esta página para estar ciente de quaisquer alterações.

8. Contato:

Se tiver dúvidas sobre esta Política de Privacidade ou desejar exercer seus direitos de privacidade, entre em contato conosco através das informações fornecidas em nosso site.

Esta Política de Privacidade é efetiva a partir da data indicada abaixo e se aplica a todas as informações coletadas e utilizadas pelo nosso e-commerce de sneakers de astros da NBA.</h2>
<br>
<br>
<h2>Última Atualização: 21/11/23</h2>
</div>